<h1>Books</h1>

<main>
<div class='nav'>
<div class="nav-name">Title</div>
<div class="nav-name">Body</div>
<div class="nav-name"></div>
</div>

<div class="list-box">
  <% @books.each do |list| %>
  <span class="list-title"><%= list.title %></span>
  <span class="list-body"><%= list.body %></span>
  
  
  <% end %>
  
  <h2>New Book</h2>
  <%=form_with model: @book do |f| %> <!--bookモデルと連携-->
  <h4>Title</h4>
  <%=f.text_field :title %>
  <h4>Body</h4>
  <%=f.text_area :body %>
  <%=f.submit 'Create Book' %>
  <% end %>
</div>
</main>